@import url(./font.scss);

$color-black: #180A0A;
$color-hotpink: #F10086;
$color-pink: #F582A7;
$color-white: #f5f5f5;

$width: 200px;

body {
  font-family: 'Pretendard-Regular';
  line-height: 1.4;
  background-image: url('../hot-pink-pattern.jpg');
  background-size: 350px;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $color-black;
  font-family: 'bitbit';
}


.container {
  max-width: 1400px;
  border: 5px solid red;
  margin: 0 auto;
  padding: 40px 0;

}

.btn {
  height: 50px;
  padding: 0 20px;
  border: $color-black;
  border: 15px;
  outline: none;
  color: $color-hotpink;
  box-shadow: 1px 4px 0 rgb(0,0,0,0.5);
  cursor: pointer;
}
.btn:active { 
  box-shadow: 1px 1px 0 rgb(0,0,0,0.5);
  position: relative;
  top: 2px;
}

.the-loader {
  width: 30px;
  height: 30px;
  margin: 30px auto;
  border: 4px solid $color-hotpink;
  border-top-color: transparent;
  border-radius: 50%;
  animation: loader 1s infinite linear;
}
.the-loader.hide {
  display: none;
}
@keyframes loader {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}

.headline {
  margin-bottom: 40px;

  h1 {
    font-size: 70px;
    font-style: italic;
    font-weight: 700;
    margin-bottom: 20px;

    img {
      width: 50px;
      height: 50px;
    }
  }
  
  p {
    font-family: 'LeferiPoint-WhiteObliqueA';
  }
}

.search {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;

  input {
    flex-grow: 1;
    height: 50px;
    padding: 0 20px;
    border-radius: 15px;
    border: none;
    outline: none;
    font-family: 'LeferiPoint-WhiteObliqueA';
    font-size: 14px;
    color: $color-hotpink;
    background-color: $color-black;
    box-shadow: 1px 4px 0 rgb(0,0,0,0.5);
  }
  input::placeholder {
    color: $color-hotpink;
  }
  .btn {
    flex-grow: 1;
    max-width: 150px;
    border-radius: 15px;
  }
}

.movie-list {
  padding: 50px 30px 50px;
  border-radius: 15px;
  background-color: $color-black;

  .message {
    color: $color-hotpink;
    font-family: 'LeferiPoint-WhiteObliqueA';
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
  }

  .movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
  }
}

.movies{
  .movie {
    position: relative;
    width: $width;
    height: calc($width * 3 / 2);
    border-radius: 10px;
    background: $color-hotpink;
    background-size: cover;
    overflow: hidden;
    opacity: .7;

    .info {
      width: 100%;
      padding: 14px;
      box-sizing: border-box;
      font-size: 14px;
      text-align: center;
      position: absolute;
      left: 0;
      bottom: 0;
      color: $color-hotpink;
      font-family:'bitbit';
      font-size: 15px;
      background-color: rgba(14, 17, 27, 0.7);
      backdrop-filter: blur(5px);

      .title {
        font-family: 'bitbit';
        font-size: 15px;
        color: $color-hotpink
      }

      .year {
        font-family: 'LeferiPoint-WhiteObliqueA';
        font-size: 12px;
        color: $color-white
      }
    }
  }

  .movie:hover {
    // position: relative;
    // top: -8px;
    opacity: 1;
  }
  .movie:hover::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 4px solid $color-hotpink
  }
}

.view-more {
  display: block;
  width: 100%;
  max-width: 300px;
  margin: 20px auto;
  border-radius: 15px;
}
.view-more.hide {
  display: none;
}